<p><%= @user.first_name %> <%= @user.last_name %><p>

<h1> Your Profile </h1> 
    <%= form_for @user do |f| %>

        <%= f.label :email, "Email" -%>
        <%= f.text_field :email -%>

        <%= f.label :first_name, "First name" -%>
        <%= f.text_field :first_name -%>

        <%= f.label :last_name, "Last name" -%>
        <%= f.text_field :last_name -%>

    <% end %>

<%= render :partial => "/shared/goal_table" %>