<p><%= @user.first_name %> <%= @user.last_name %><p>

<h2>Experiences</h2>
<% @experiences.each do |e| %>
<%= e.description %>
<% end %>

<h2>Growth</h2>
<% @growths.each do |e| %>
<%= e.description %>
<% end %>

<h2>Contribution</h2>
<% @contributions.each do |e| %>
<%= e.description %>
<% end %>