<div class="container">
  <div class="jumbotron">
    <h1>The 3 Most Important Questions</h1>
  </div>
</div>

<div class="row">
    <div class="row">
        <ul class="list-group col-md-6">
            <li class="list-group-item">Over the years I’ve come to stop believing in goal setting. Why? Because goal setting, or at least the way most of us are trained to do it, actually gets us to be obsessed about the how of attaining our goals, rather than the passion, the vision, and the beauty of the goal itself. In short, we get obsessed with the ‘means’, rather than the ‘end’. - See more at: <%= link_to 'Mindvalley', 'http://www.mindvalley.com/goal-setting-redefined'  %></li>
            <li class="list-group-item">And this is why so many of us wake up at the age of 40 one day, dreading going to work because we were forced to pick a career before we could legally buy a beer. - See more at: <%= link_to 'Mindvalley', 'http://www.mindvalley.com/goal-setting-redefined'  %></li>
            <li class="list-group-item">In this video, we are going to change the way you think about goal setting. We are going to present to you the 3 most important questions to ask yourself. If everyone asked themselves these questions at the age of 18, we believe the world would be a much happier place. But no matter how old you are, it’s not too late.
- See more at: <%= link_to 'Mindvalley', 'http://www.mindvalley.com/goal-setting-redefined'  %> </li>
            <li class="list-group-item">This exercise will change the way you plan your life and see your goals. It’ll change the way you see your career, mission, and life purpose unfolding. The intro to the exercise takes no more than 5 minutes, and the exercise itself takes 7 minutes. This could be one of the most important 12 minutes of your life. Download the PDF on the right, print it out, and click play to get started.
- See more at: <%= link_to 'Mindvalley', 'http://www.mindvalley.com/goal-setting-redefined'  %> </li>
        </ul>
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" allowfullscreen src="http://www.youtube.com/embed/f8eU5Pc-y0g?autoplay=0&amp;controls=1&amp;hd=1&amp;showinfo=0&amp;rel=0&amp;wmode=transparent"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="row">

  <ul class="list-group">
    <li class="list-group-item">
      <h3>You can also download the 3 Most Important Questions meditation audio in MP3 format or on Omvana</h3>
    </li>
    <li class="list-group-item col-md-6">
          <%= image_tag "img-audio.jpg", class: "col-md-offset-3" %>
          <p>Download your FREE The  Most Important Questions meditation audio » - See more at: <%= link_to 'Mindvalley', 'http://www.mindvalley.com/goal-setting-redefined'  %></p>
          <button> Download it here </button>
    </li>
    <li class="list-group-item col-md-6">
          <%= image_tag "img-iphone.jpg", class: "col-md-offset-3" %>

          <p>Download the Guided Exercise on Omvana. You’ll find it in the store under Vocals - - See more at: <%= link_to 'Mindvalley', 'http://www.mindvalley.com/goal-setting-redefined'  %></p>
          <button> Download it here </button>
    </li>
  </ul>
</div>
