<!DOCTYPE html>
<html>
    <head>
        <title>Dreamvalley3</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

        <%= stylesheet_link_tag 'application', 'bootstrap_and_overrides' => true %>
        <%= javascript_include_tag 'application', 'bootstrap' => true %>

        <%= csrf_meta_tags %>
    </head>
    <body>
        <div>
            <% if current_user %>
                <%= link_to current_user.first_name || current_user.email, user_path(current_user) %>
            <% else %>
                <%= link_to "Login", user_omniauth_authorize_path(:mindvalley) %>
            <% end %>
        </div>

        <%= yield %>

        <footer>
            <div class="container">
                <p class="text-muted">Place sticky footer content here.</p>
            </div>
        </footer>

    </body>
</html>
